package tr064model

// {{ .Name }} auto generated model from [{{ .SCDPShortName }}],
// based on SOAP action '{{ .SoapActionName }}', Fritz!Box-System-Version {{ .SystemVersion }}
//
// [{{ .SCDPShortName }}]: http://fritz.box{{ .SCDPUrlPath }}
type {{ .Name }} struct {
{{ range .Variables }}	{{ . }}
{{ end }}}
